<% for(i of data){%> 

<tr>
    <td><%= i.name %></td>
    <td><%= i.loan_taken %></td>
    <td><%= i.returned %></td>
    <td><%= i.credit_after_intrest - i.returned %></td>
    <% if(i.end_date_exp){%>
        <% if((i.end_date_exp.getMonth()+1) < 10  && (i.end_date_exp.getDate() )< 10 ) { %>

                <td><%=  i.end_date_exp.getFullYear()+'-0' + (i.end_date_exp.getMonth()+1) + '-0'+(i.end_date_exp.getDate() ) %></td>
        <%} else if((i.end_date_exp.getMonth()+1) >= 10  && (i.end_date_exp.getDate() )< 10 ) { %>

                <td><%=  i.money.last_last_date.getFullYear()+'-' + (i.end_date_exp.getMonth()+1) + '-0'+(i.end_date_exp.getDate() ) %></td>
        <%} else if((i.end_date_exp.getMonth()+1) < 10  && (i.end_date_exp.getDate() )>= 10 ) { %>

                <td><%=  i.end_date_exp.getFullYear()+'-0' + (i.end_date_exp.getMonth()+1) + '-'+(i.end_date_exp.getDate() ) %></td>
        <%} else if((i.end_date_exp.getMonth()+1) >= 10  && (i.end_date_exp.getDate() ) >= 10 ) { %>

                <td><%=  i.end_date_exp.getFullYear()+'-' + (i.end_date_exp.getMonth()+1) + '-'+(i.end_date_exp.getDate() ) %></td>
        <%}%>       
<%}else{%>
        <td>not initialised</td>
<%}%>  


<% if(i.init_date){%>
    <% if((i.init_date.getMonth()+1) < 10  && (i.init_date.getDate() )< 10 ) { %>

            <td><%=  i.init_date.getFullYear()+'-0' + (i.init_date.getMonth()+1) + '-0'+(i.init_date.getDate() ) %></td>
    <%} else if((i.init_date.getMonth()+1) > 10  && (i.init_date.getDate() )< 10 ) { %>

            <td><%=  i.money.last_last_date.getFullYear()+'-' + (i.init_date.getMonth()+1) + '-0'+(i.init_date.getDate() ) %></td>
    <%} else if((i.init_date.getMonth()+1) < 10  && (i.init_date.getDate() )> 10 ) { %>

            <td><%=  i.init_date.getFullYear()+'-0' + (i.init_date.getMonth()+1) + '-'+(i.init_date.getDate() ) %></td>
    <%} else if((i.init_date.getMonth()+1) > 10  && (i.init_date.getDate() ) > 10 ) { %>

            <td><%=  i.init_date.getFullYear()+'-' + (i.init_date.getMonth()+1) + '-'+(i.init_date.getDate() ) %></td>
    <%}%>       
<%}else{%>
    <td>not initialised</td>
<%}%>
    <!-- <td> 
        <form  style="width: 10em; min-width: 9em ;"  action="/creditor/profile/<%=i._id%>/make-payment" method="post">
            <input style="width: 10em" type="number" class="md-3" name="amount" id="amount" placeholder="Enter Amount">
            <input type="hidden" name="type" value="returned">
    </td>
    <td class="comment-form relative">
        <input type="date" name="pay_date" id="pay_date" placeholder="days" class="" required >   
        <button type="submit" value="Make Payment" ><span class="iconify" data-icon="charm:tick"
                style="color: black; font-size: 22px; background-color: #ececec;"></span></button>
        </form>

    </td > -->
    <td style="width: 10em; min-width: 9em ;"><a class="btn" href="/creditor/profile/<%= i._id%>">view profile</a></td>
</tr>
<%}%>
