<div id="gen-info" class="box">
    <div class="box-head">
        <h3>
            <%= debitor_info.general_info.name %>
        </h3>
    </div>
    <div class="box-body">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Mobile Number</td>
                    <td><%= debitor_info.general_info.number[1] %>,<%= debitor_info.general_info.number[2] %>,<%= debitor_info.general_info.number[3] %> </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><%= debitor_info.general_info.address %></td>
                </tr>
                <tr>
                    <td>Shop</td>
                    <td><%= debitor_info.general_info.shop %></td>
                </tr>
                <tr>
                    <td>Guarentor</td>
                    <td><%= debitor_info.general_info.guarentor_name %></td>
                </tr>
                <tr>
                    <td>Guarentor Number</td>
                    <td><%= debitor_info.general_info.guarentor_number[1] %>,<%= debitor_info.general_info.guarentor_number[2] %>,<%= debitor_info.general_info.guarentor_number[3] %></td>
                </tr>
                <% if(debitor_info.general_info.initialised){ %>
                    <tr>
                        <td>Debit initialise date</td>
                        <td><%= debitor_info.money.debit_init_date %></td>
                    </tr>

                <%}%>


            </tbody>
        </table>
        <a href="/debitor/profile/<%=debitor_info.id%>/edit-profile/">
            <div class="btn col-md-3" style="width: 150px;">
                Edit Info
            </div>
        </a>

    </div>
</div>