
<% for(i of data){%> 

    <tr>
        <td><%= i.name %></td>
        <td><%= i.number %></td>
        <td><%= i.deb_after_intrest - i.discount - i.recived %></td>

        

        <td>a</td>

        <td></td>
        <td><%= i.guarentor %></td>
        <td><a class="btn" href="/debitor/profile/<%= i._id%>">view profile</a></td>
    </tr>    
<%} %>
