<% for (i of creditor_info.transactions ){%>
    <tr>
        <td><%= i.amount %></td>
        <td><%= i.type %></td>
        <% if( i.date ){%>
        <td><%=  i.date.getFullYear()+'-' + (i.date.getMonth()+1) + '-'+(i.date.getDate() ) %></td>
        <% }else{%>
            <td>Undefined</td>
        <% }%>


        <%if( !(i.comment) || i.comment == ""){%>
            <td> 
                <form action="/transactions/add-comment" method="post" class="comment-form relative">
                    <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                    <input type="hidden" name="transaction_id" value="<%= i.id %>" id="transaction_id" >
                    <button type="submit" value="Make Payment" ><span class="iconify " data-icon="charm:tick"
                        style="color: black; font-size: 22px; background-color: #ececec;"></span></button>
                </form>
            </td>
            <%}else{%>
            <td><%= i.comment %></td>
            
            <%} %>
        <td>
            <a href="">
                <span class="iconify" data-icon="ic:round-whatsapp"
                                            style="color: rgb(3, 212, 3); font-size: 18px;" data-width="30"
                                            data-height="30"></span>
            </a>
            <a href="">
                <span class="iconify" data-icon="ant-design:message-outlined"
                                            style="color: #0083da; font-size: 18px;" data-width="30"
                                            data-height="30"></span>
            </a>
        </td>
        <td>
            <a href="/transactions/delete-transaction/<%= i.id %>">
                <span>delete-transaction</span>
                <!-- <span class="iconify" data-icon="ep:remove-filled" style="color: red;" data-width="30" data-height="30" ></span> -->
            </a>
        </td>

    </tr>    

<% } %>