<% for (i of transactions_info ){%>
    <tr>
        <% if(i.person_id){ %>
        <td><%= i.person_id.general_info.name %></td>
        <%}else{%>
            <td></td>
        <% } %>
        <td><%= i.amount %></td>
        <td><%= i.type %></td>
        <% if((i.date.getMonth()+1) < 10  && (i.date.getDate() )< 10 ) { %>

        <td><%=  i.date.getFullYear()+'-0' + (i.date.getMonth()+1) + '-0'+(i.date.getDate() ) %></td>
        <%} else if((i.date.getMonth()+1) > 10  && (i.date.getDate() )< 10 ) { %>

            <td><%=  i.date.getFullYear()+'-' + (i.date.getMonth()+1) + '-0'+(i.date.getDate() ) %></td>
        <%} else if((i.date.getMonth()+1) < 10  && (i.date.getDate() )> 10 ) { %>

            <td><%=  i.date.getFullYear()+'-0' + (i.date.getMonth()+1) + '-'+(i.date.getDate() ) %></td>
        <%} else if((i.date.getMonth()+1) > 10  && (i.date.getDate() ) > 10 ) { %>

            <td><%=  i.date.getFullYear()+'-' + (i.date.getMonth()+1) + '-'+(i.date.getDate() ) %></td>
        <%}%>
        
        <% if( !(i.comment) || i.comment == ""){%>
        <td> 
            <form action="/transactions/add-comment" method="post">
                <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                <input type="hidden" name="transaction_id" value="<%= i.id %>" id="transaction_id" >
                <button type="submit" value="Make Payment" ><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></button>
            </form>
        </td>
        <%}else{%>
        <td><%= i.comment %></td>
        
        <%} %>



        <td>
            <a href="">
                <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
            </a>
            <a href="">
                <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
            </a>
        </td>

    </tr>

<% } %>