<link rel="stylesheet" href="/css/debitor_profile.css">
<link rel="stylesheet" href="/css/new_debitor_profile.css" >

<div id="genral-information">
    <div >
        <%- include('partials/debitor_general_info.ejs') %>
    </div>
    <div>
        <%- include('partials/debitor_hisab.ejs') %>
    </div>

</div>

<div id="debits-container">
    <%- include('partials/single_debit.ejs') %>
</div>

<div id="debitor-init-pay">
    <%- include('partials/debitor_init_payment.ejs') %>
</div>


<div id="lower-sec">
    <%- include('partials/debitor_transactions_cont.ejs') %>

</div>
<script src="/js/debitor-profile.js"></script>