<link rel="stylesheet" href="<%= assetPath('css/debitor_profile.css') %>">
debitor profile


<!-- General Info -->
<!-- Initalise Credit -->
<!-- Make Payment -->
<!-- transaction history -->
<!-- hisab -->

<section id="debitor-profile-page">
    <div id="upp-sec">
        <div id="left-cont">
            <% if(debitor_info.general_info.initialised){ %>
            <div id="make-payment" class="box">
                <div class="box-head">
                    <h3>
                        Make Payment
                    </h3>
                </div>
                <form action="/debitor/profile/<%=debitor_info.id%>/make-payment" method="post">
                    <div class="form-group col-md-3">
                        <label for="amount">Amount*</label>
                        <input type="number" name="amount" id="amount" placeholder="2250" class="form-control" required>    
                    </div >
    
                    <div class="form-group col-md-3">
                        <label for="type">Type</label>
                        <!-- <input type="select" name="deb-mob-1" id="deb-mob-1" placeholder="Mobile Number" class="form-control" required>                     -->
                        <select class="custom-select custom-select-lg mb-3" name="type" id="type">
                            <option value="Recived">Recived</option>
                            <option value="penalty-imposed">penalty Imposed</option>
                            <option value="penalty-collected">penalty Collected</option>
                            <option value="discount">discount</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="pay_date">Payment Date</label>
                        <input type="date" name="pay_date" id="pay_date" placeholder="days" class="form-control" required>    
                    </div >
    
                    <div class="form-group col-md-3">
                        <label for="comment">Comment</label>
                        <input type="text" name="comment" id="comment" class="form-control" placeholder="Comment (optional)">                    
                    </div>
                    
                    <div class="form-group col-md-3">
                      <input type="submit" value="Make Payment" class="btn">
                    </div>
                </form>
    
            </div>
            <% } %>

            <div id="gen-info" class="box">
                <div class="box-head">
                    <h3>
                        <%= debitor_info.general_info.name %>
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Mobile Number</td>
                                <td><%= debitor_info.general_info.number[1] %>,<%= debitor_info.general_info.number[2] %>,<%= debitor_info.general_info.number[3] %> </td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><%= debitor_info.general_info.address %></td>
                            </tr>
                            <tr>
                                <td>Shop</td>
                                <td><%= debitor_info.general_info.shop %></td>
                            </tr>
                            <tr>
                                <td>Guarentor</td>
                                <td><%= debitor_info.general_info.guarentor_name %></td>
                            </tr>
                            <tr>
                                <td>Guarentor Number</td>
                                <td><%= debitor_info.general_info.guarentor_number[1] %>,<%= debitor_info.general_info.guarentor_number[2] %>,<%= debitor_info.general_info.guarentor_number[3] %></td>
                            </tr>
                            <% if(debitor_info.general_info.initialised){ %>
                                <tr>
                                    <td>Debit initialise date</td>
                                    <td><%= debitor_info.money.debit_init_date %></td>
                                </tr>

                            <%}%>


                        </tbody>
                    </table>
                    <a href="/debitor/profile/<%=debitor_info.id%>/edit-profile/">
                        <div class="btn col-md-3" style="width: 150px;">
                            Edit Info
                        </div>
                    </a>

                </div>
            </div>
            
        </div>
        <div id="right-cont">

            <% if(! debitor_info.general_info.initialised){ %>

            <div id="initialise-payment" class="box">
                <div class="box-head">
                    <h3>
                        Initialise Payment
                    </h3>
                </div>
                <form action="/debitor/profile/<%=debitor_info.id%>/post-init-debit" method="post" id="debit-init-form">

                    <div class="form-group col-md-3">
                        <label for="credit-amount">Type </label>
                        <select class="form-select form-select-sm" name="debit-type" aria-label=".form-select-lg example" id="debit_type" class="form-control"  >
                            <option selected value="fixed_amount">Fixed Amount</option>
                            <option value="on_intrest_rate">On intrest Rate</option>
                            <option value="holayati"> Holayati </option>
                          </select>
                    </div>

                    <div class="form-group col-md-3" id="debit-amount-div">
                        <label for="credit-amount">Debit Amount</label>
                        <input type="number" name="credit-amount" id="credit-amount" class="form-control" required >
                    </div>

                    <div class="form-group col-md-3" id="amount-div">
                        <label for="amount">Amount After Intrest*</label>
                        <input type="number" name="amount" id="amount" placeholder="2250" class="form-control" >    
                    </div >

                    <div class="form-group col-md-3" id="intrest-rate-div">
                        <label for="intrest-rate">Intrest Rate % ( Yearly )</label>
                        <input type="number" name="intrest-rate" id="intrest-rate" placeholder="12" class="form-control" >    
                    </div >

                    <div class="form-group col-md-3" id="installment_type_div">
                        <label for="credit-amount"> installment Type </label>
                        <select class="form-select form-select-sm"  name="installment-type" aria-label=".form-select-lg example" id="installment_type">
                            <option selected value="yearly"> Yearly </option>
                            <option value="monthly"> Monthly </option>
                            <option value="once"> One Time </option>
                            <option selected value="daily"> Daily </option>
                        </select>
                    </div>

                    <div class="form-group col-md-3" id="days-return-div">
                        <label for="days">Days to return*</label>
                        <input type="number" name="days" id="days" placeholder="days" class="form-control" >    
                    </div >

                    <div class="form-group col-md-6">
                        <label for="init_date">Taken Date*</label>
                        <input type="date" name="init_date" id="init_date" placeholder="days" class="form-control" required>    
                    </div >

                    <div class="form-group col-md-6" id="return-date-div" >
                        <label for="return_date">return Date</label>
                        <input type="date" name="return_date" id="return_date" placeholder="return date" class="form-control" >    
                    </div >


                    <div class="form-group col-md-3">
                      <input type="submit" value="Make Payment" class="btn" id="new-debit-form-submit" disabled>
                    </div>
                </form>
    
            </div>
            <% } %>

            <% if(debitor_info.general_info.initialised){ %>
            <div id="hisab" class="box">
                <div class="box-head">
                    <h3>Hisab</h3>
                </div>
                <% let days_after_payment = parseInt((current_date - debitor_info.money.debit_init_date)/(24*60*60*1000))  %>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Amount(Given)</td>
                                <td><%= hisab_data['loan amount'] %></td>
                            </tr>
                            <tr>
                                <td>Amount(After intrest)</td>
                                <td><%= debitor_info.money.debit_after_intrest %></td>
                            </tr>
                            <tr>
                                <td>Amount(Recived)</td>
                                <td><%= hisab_data['returned'] %></td>
                            </tr>
                            <tr>
                                <td>Amount(Still Pending <br> with penalty and discount)</td>
                                <td><%= debitor_info.money.debit_after_intrest + hisab_data.penalty_imposed - hisab_data['penalty_collected'] - hisab_data['discount'] - hisab_data['returned'] %></td>
                            </tr>
                            <tr>
                                <td>Amount(Still Pending with discount)</td>
                                <td><%= debitor_info.money.debit_after_intrest - hisab_data['returned'] - hisab_data['discount'] %></td>
                            </tr>
                            <tr>
                                <td>Total Penalty Imposed</td>
                                <td><%= hisab_data.penalty_imposed %></td>
                            </tr>

                            <tr>
                                <td>Total Penalty Collected</td>
                                <td><%= hisab_data['penalty_collected'] %></td>
                            </tr>

                            <tr>
                                <td>Total Discount</td>
                                <td><%= hisab_data['discount'] %></td>
                            </tr>

                            <tr>
                                <td>Daily Kist(Amount)</td>
                                <td><%= debitor_info.money.daily_installment_amount %></td>
                            </tr>

                            <tr>
                                <td>Daily Kist left</td>
                                <% if( days_after_payment*(debitor_info.money.daily_installment_amount) <  debitor_info.money.debit_after_intrest ){ %>
                                    <td><%= (debitor_info.money.debit_after_intrest - hisab_data['returned'])/(debitor_info.money.daily_installment_amount) %></td>

                                <%}else{%>
                                    <td><%= (debitor_info.money.debit_after_intrest)/(debitor_info.money.daily_installment_amount) %></td>

                                <%}%>

                            </tr>

                            <tr>
                                <td>days after taken money</td>
                                <td><%= parseInt((current_date - debitor_info.money.debit_init_date)/(24*60*60*1000)) %> days </td>
                            </tr>

                            <tr>
                                <td>Money Should <br> have returned</td>
                                    <% if( days_after_payment*(debitor_info.money.daily_installment_amount) <  debitor_info.money.debit_after_intrest ){ %>
                                        <td><%= days_after_payment*(debitor_info.money.daily_installment_amount) %></td>
                                    <%}else{%>
                                        <td><%= debitor_info.money.debit_after_intrest %></td>
                                    <%}%>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>

            <% if(  !(debitor_info.general_info.closed) ) { %>
                <div id="close-debitor" class="box flex-center" style="text-decoration: none;" >
                    <a href="/debitor/profile/<%=debitor_info.id%>/close-account" >
                        <div class="btn" style="width: 200px;height: 40px;text-decoration-style: none;background-color:rebeccapurple;">
                            Close Debitor Account
                        </div>
                    </a>
                </div>
            <% }else{%>
                <div id="close-debitor" class="box flex-center" style="text-decoration: none;" >
                    <a href="/debitor/profile/<%=debitor_info.id%>/revoke-account" >
                        <div class="btn" style="width: 350px;height: 40px;text-decoration-style: none;background-color:rebeccapurple;">
                            Revoke Debitor Account
                        </div>
                    </a>
                </div>
            <% } %>
        </div>

    </div>
    <div id="lower-sec">
        <div id="transactons-cont">
            <div class="box">
                <div class="box-head">
                    <h3>Past Transaction</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-sm table-sortable">
                        <thead class="thead-dark">
                            <tr>
                                <th data-sort="int">Amount</th>
                                <th data-sort="string">Type</th>
                                <th data-sort="date">Date of payment</th>
                                <th>Comment</th>
                                <th>Notification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('partials/profile_transactions_list.ejs') %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="<%= assetPath('js/debitor-profile.js') %>"></script>