edit Creditor
edit Debitor
<link rel="stylesheet" href="/<%= assetPath('css/new_creditor.css') %>">
<section id="new_creditor">
    <div class="box">
        <div class="form-heading">
            Edit Debitor
        </div>
        <div class="form-container">
            <form action="/creditor/profile/<%=creditor_info.id %>/edit-profile" method="post">
                <div class="form-group col-md-3">
                    <label for="cred-name">Name *</label>
                    <input type="text" name="cred-name" id="cred-name" placeholder="Name.." class="form-control" required value="<%=creditor_info.general_info.name %>">    
                </div >

                <div class="form-group col-md-3">
                  <label for="cred-user-name">Username (unique)*</label>
                  <input type="text" name="cred-user-name" id="cred-user-name" placeholder="Name.." class="form-control" required value="<%=creditor_info.general_info.username %>" >    
              </div >

                <div class="form-group col-md-3">
                    <label for="cred-mob-1">Mobile Number</label>
                    <input type="number" name="cred-mob-1" id="cred-mob-1" placeholder="Mobile Number" class="form-control" required value="<%=creditor_info.general_info.number[1] %>">                    
                </div>

                <div class="form-group col-md-3">
                    <label for="cred-mob-2">Mobile Number Alt-1</label>
                    <input type="number" name="cred-mob-2" id="cred-mob-2" class="form-control" placeholder="Mobile Number" value="<%=creditor_info.general_info.number[2] %>">                    
                </div>

                <div class="form-group col-md-3">
                  <label for="cred-mob-3">Mobile Number Alt-2</label>
                  <input type="number" name="cred-mob-3" id="cred-mob-3" class="form-control" placeholder="Mobile Number" value="<%=creditor_info.general_info.number[3] %>">
                </div>
                
                <div class="form-group col-md-3">
                  <label for="cred-shop">Shop</label>
                  <input type="text" name="cred-shop" id="cred-shop" class="form-control" placeholder="Shop..." value="<%=creditor_info.general_info.shop %>">
                </div>

                <div class="form-group col-md-3">                
                  <label for="cred-address">Address</label>
                  <input type="text" name="cred-address" id="cred-address" required class="form-control" value="<%=creditor_info.general_info.address %>">
                </div>


                <div class="form-group col-md-3">
                  <label for="cred-comment">Comment</label>
                  <input type="text" name="cred-comment" id="cred-comment" class="form-control" placeholder="Comment" value="<%=creditor_info.general_info.comment %>">
                </div>
                
                <div class="form-group col-md-3">
                  <input type="submit" value="Save" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>

