<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style%>
    <title>Main</title>
</head>
<body>

        <!-- <%- include('_header') %> -->
        <!-- <h1>hello this is Contact ejs template</h1> -->

        <section id="main">
            <section id="sidebar">
                <div id="sidebar-header" class="flex-center">
                    <div>
                        <span class="iconify" data-icon="ic:baseline-adjust" style="color: #8ca0ff;"></span>
                        <span id="h1">finance</span>
                    </div>
                </div>
                <div id="sidebar-menu">
                    <ul>
                    <a href="/overview">
                        <li class="menu-div">
                            
                            <div class="flex-center">
                                <span class="iconify" data-icon="ic:baseline-adjust" style="color: #8ca0ff;"></span>
                            </div>
                            <div class="flex-left">
                                <span id="h1">Overview list</span>
                            </div>
                        </li>
                    </a>
                    <a href="/transactions">
                        <li class="menu-div">
                            
                            <div class="flex-center">
                                <span class="iconify" data-icon="ic:baseline-adjust" style="color: #8ca0ff;"></span>
                            </div>
                            <div class="flex-left">
                                <span id="h1">Transactions</span>
                            </div>
                        </li>
                    </a>
                    <a href="/debitor">
                        <li class="menu-div">
                            
                            <div class="flex-center">
                                <span class="iconify" data-icon="ic:baseline-adjust" style="color: #8ca0ff;"></span>
                            </div>
                            <div class="flex-left">
                                <span id="h1">Debitors</span>
                            </div>
                        </li>
                    </a>
                    <a href="/creditor">
                        <li class="menu-div">
                            
                            <div class="flex-center">
                                <span class="iconify" data-icon="ic:baseline-adjust" style="color: #8ca0ff;"></span>
                            </div>
                            <div class="flex-left">
                                <span id="h1">Creditor</span>
                            </div>
                        </li>
                    </a>
                    <a href="/statistics">
                        <li class="menu-div">
                            
                            <div class="flex-center">
                                <span class="iconify" data-icon="ic:baseline-adjust" style="color: #8ca0ff;"></span>
                            </div>
                            <div class="flex-left">
                                <span id="h1">Statistics</span>
                            </div>
                        </li>
                    </a>

                    </ul>
                </div>
    
            </section>
            <section id="content-header" class="flex-center">
                <div>
                    <!-- for center  -->
                    <div id="header-title">
                        <h3>Overview list</h3>
                    </div>
                    <div id="header-info-div" class="flex-right">
                        <div id="header-person-name" class="flex-center">
                            <p>Mahesh Bohra</p>
                        </div>
                        <div class="flex-center">
                            <span class="iconify" data-icon="majesticons:door-exit"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-area">
                <%- body %>
            
            </section>
    
        <!-- <%- include('_footer') %> -->


        <%- script %>
</body>
</html>