Statistics


<div class="box">
    <div class="box-head">
        Add or Withdraw money
    </div>
    <div class="box-body">
        <form action="/user/init-money" method="post">
            <div class="form-group col-md-3">
                <label for="self_input">Amount Personal*</label>
                <input type="number" name="self_input" id="self_input" placeholder="Amount personal" class="form-control" required>    
            </div >

            <div class="form-group col-md-3">
              <input type="submit" value="Add Money" class="btn">
            </div>
        </form>

        <form action="/user/withdraw-money" method="post">
        
            <div class="form-group col-md-3">
                <label for="withdraw">Withdraw</label>
                <input type="number" name="withdraw" id="withdraw" class="form-control" placeholder="withdraw till date">
              </div>
        
            
          
            <div class="form-group col-md-3">
              <input type="submit" value="Withdraw Money" class="btn">
            </div>
        </form>
    </div>
</div>


<div class="box">
    <div class="box-head">
        <h3>data counter</h3>
    </div>
    <div class="box-body">

        <table class="table table-hover table-sm table-sortable">
            <tbody>
                <tr>
                    <td>Self input</td>
                    <td id="self_input"><%= user_info.counter.self_input %></td>
                </tr>

                <tr>
                    <td>Market Borrow</td>
                    <td id="market_borrow"><%= user_info.counter.market_borrow %></td>
                </tr>

                <tr>
                    <td>Market Return</td>
                    <td id="market_borrow"><%= user_info.counter.market_return %></td>
                </tr>

                <tr>
                    <td>invested all_time</td>
                    <td id="invested_in_market"><%= user_info.counter.invested_all_time %></td>
                </tr>
                <tr>
                    <td>Available for invest</td>
                    <td id="available_forinvest"><%= user_info.counter.self_input + user_info.counter.collection_alltime + user_info.counter.market_borrow - user_info.counter.invested_all_time - user_info.counter.withdraw - user_info.counter.market_return %></td>
                    <!-- <td id="available_forinvest"><%= user_info.counter.available_money   %></td>                     -->
                </tr>
                <tr>
                    <td>Collection all time</td>
                    <td><%= user_info.counter.collection_alltime%></td>
                </tr>
                <tr>
                    <td>withdraw</td>
                    <td><%= user_info.counter.withdraw %></td>
                </tr>

                <tr>
                    <td>total Penalty Imposed</td>
                    <td><%= user_info.counter.total_penalty_imposed %></td>
                </tr>

                <tr>
                    <td>total Penalty Collected</td>
                    <td><%= user_info.counter.total_penalty_collected %></td>
                </tr>

            </tbody>



    </div>
</div>


